

.navbar-nav{
    display: flex; 
    justify-content: center; 
    width: 100%; 
    margin: auto 0;
    padding: 20px 10px 10px 10px;
}

.navbar-collapse{
    flex-grow: 1; 
    display: flex; 
    justify-content: center;
}

.carrossel-boot{
    width: 1200px;
    margin: auto;
}

main{
   background-color: rgb(199, 193, 193)
}
